




	<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postcounter > 0,
                'list-group-item-danger': postcounter < 0}">
	
	<h4 [ngStyle]="{color: getColor()}"> {{ postTitle }} --------------------------{{ postDate | date: 'short' | uppercase }}</h4>

	<h6 [ngStyle]="{color: getColor()}"> {{ postContent }} </h6>

	<h4> {{ postCounter }}</h4>
	
	<button class="btn btn-success" 
       (click)="onLove()">Love</button>
   
   <button class="btn btn-danger " 
       (click)="onDontLove()">DontLove</button>
</li>